/user/
/user/*
/user/archive/
/user/archive/__DEFAULT_WORLD__.json
/__pycache__/
/__pycache__/*
/block/__pycache__/
/block/__pycache__/*
/entity/__pycache__/
/entity/__pycache__/*
/interact/__pycache__/
/interact/__pycache__/*
/item/__pycache__/
/item/__pycache__/*
/LLA/__pycache__/
/LLA/__pycache__/*
/render/__pycache__/
/render/__pycache__/*
/save/__pycache__/
/save/__pycache__/*
/utils/__pycache__/
/utils/__pycache__/*
/window/__pycache__/
/window/__pycache__/*
/world/__pycache__/
/world/__pycache__/*
